<form class="permissionForm" #permissionForm="ngForm" (ngSubmit)="onAskPermission()" autocomplete="off">
    <!-- <div class="form-ask" *ngIf="onCheckRolesToShowForm()"> -->
    <div class="form-ask" *ngIf="toShowForm">

        <h2 class="text-center text-primary">Permissions</h2>
        <h2>Ask permission</h2>
        <div class="form-group">
            <label>Date start: </label>
            <input type="date" class="form-control" name="dataStart" [(ngModel)]="model.DataFillim">
        </div>
        <div class="form-group">
            <label>Date end: </label>
            <input type="date" class="form-control" name="dataEnd" [(ngModel)]="model.DataMbarim">
        </div>
        <div class="form-group">
            <label>Permission type: </label>
            <input type="text" class="form-control" name="permissionType" [(ngModel)]="model.TipiLeje">
        </div>
        <div class="form-check">
            <div class="text-center button-check-group">
                <button class="btn btn-success mr-2" type="submit">Ask permission</button>
                <button class="btn btn-success mr-2" (click)="onCancel()" type="submit">Cancel</button>
            </div>
        </div>
    </div>
    <span>Total amount of days left: {{person?.balancaLeje}}</span>
    <!-- <span>Total amount of days left: {{onGetBalancaLeje()}}</span> -->
</form>