.form-group {
    font-size: 16px;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 30px;
}

.form-approve {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-gap: 20px;
}
.form-ask {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
}

.wrapper-fillim {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  grid-gap: 50px;
  place-content: center;
}

.permissionForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    place-items: center;
    place-content: center;
}

.btn {
    font-size: 16px;
}

.form-check {
    padding-top: 40px;
}
.form-control {
    background-color: white;
}
.button-check-group {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 60px;
}

table,
th,
td {
  border: 1px solid;
}

td {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 10px 10px;
}

thead th {
  font-size: 14px;
  padding: 5px 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.special-td {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  place-items: center;
  place-content: center;
  grid-gap: 10px;
}

.special-td button {
  border: none;
  outline: none;
  background-color: rgb(216, 130, 130);
  cursor: pointer;
  padding: 10px 10px;
  font-weight: 600;
}