.navbar {
  height: 80px;
}

.navbar-brand {
  margin-left: 30px;
}

.dropdown {
  margin-top: 20px;
  margin-right: 40px;
  width: 120px;
  height: 40px;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
