.form-group {
    font-size: 20px;
    height: 100px;
    width: 300px;
}

.login form .form-group {
    height: 100px;
    color: white;
}

.btn {
    margin-top: 30px;
    height: 40px;
    width: 360px;
    font-size: 20px;
    margin-top: 20;
}

.form-control {
    height: 35px;
    margin-top: 5px;
    background-color: white;
}